/* common styles */
*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    margin: 0;
    width: 100%;
    height: 100%;
}
.overflow {
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    background-color: darkgray;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* default checkbox */
input[type='radio'] {
    display: none;
}

/* sliders container and themselves slides */
.slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 2rem;
}
.slider > .slide1 {
    display: none;
    width: 100%;
    height: 100%;
    background-image: url("./assets/mem1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.slider > .slide2 {
    display: none;
    width: 100%;
    height: 100%;
    background-image: url("./assets/mem2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.slider > .slide3 {
    display: none;
    width: 100%;
    height: 100%;
    background-image: url("./assets/mem3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.slider > .slide4 {
    display: none;
    width: 100%;
    height: 100%;
    background-image: url("./assets/mem4.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* slides descriptions */
.slider-controls-description > span {
    display: none;
    font-size: 3rem;
    height: 3rem;
}

/*checkbox label */
.slider-controls {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-controls > div {
    display: flex;
}
.slider-controls > div > label {
    display: flex;
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;

    justify-content: center;
    align-items: center;

    background-color: darkgray;
    cursor: pointer;
}
.slider-controls-button {
    display: block;
    width: 2rem;
    height: 2rem;
    background-color: white;

    border-radius: 50%;
    border: 0.3rem solid black;
}

.slider-controls-button {
    background-color: white;
    border: 0.3rem solid white;
}

.slider-controls > div > label:hover > .slider-controls-button,
.slider-controls-button:hover {
    background-color: black;
}

.slider-controls-button:active {
    background-color: black;
    border: 0.3rem solid black;
}
/* changes slides */
#mem4:checked ~ .slider > .slide4,
#mem3:checked ~ .slider > .slide3,
#mem2:checked ~ .slider > .slide2,
#mem1:checked ~ .slider > .slide1 {
    display: block;
    animation-name: from-left;
    animation-duration: 0.5s;
}
@keyframes from-left {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 0;
    }
}
/* changes descriptions */
#mem4:checked ~ .slider-controls > .slider-controls-description > .description4,
#mem3:checked ~ .slider-controls > .slider-controls-description > .description3,
#mem2:checked ~ .slider-controls > .slider-controls-description > .description2,
#mem1:checked ~ .slider-controls > .slider-controls-description > .description1 {
    display: block;
    animation-name: from-right;
    animation-duration: 0.4s;
}
@keyframes from-right {
    from {
        font-size: 0;
    }
    to {
        font-size: 3rem;
    }
}
/* changes active button */
#mem4:checked ~ .slider-controls > div > label > .button4,
#mem3:checked ~ .slider-controls > div > label > .button3,
#mem2:checked ~ .slider-controls > div > label > .button2,
#mem1:checked ~ .slider-controls > div > label > .button1 {
    background-color: black;
    border: 0.3rem solid black;
    transition: 0.3s linear;
}
/* media */
@media (max-width: 870px){
    .overflow {
        padding: 1rem;
    }
    .slider-controls {
        margin-top: 1rem;
        flex-direction: column-reverse;
    }
    .slider-controls-description > span {
        margin-top: 1rem;
        font-size: 1.5rem;
        height: 1.5rem;
    }
    .slider-controls > div > label {
        width: 1.5rem;
        height: 1.5rem;
    }

    .slider-controls-button {
        width: 1rem;
        height: 1rem;
    }
    @keyframes from-right {
        from {
            font-size: 0;
        }
        to {
            font-size: 1.5rem;
        }
    }
}