*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.overflow {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 1rem;
    background-color: darkgray;
}
.slider {
    width: 100%;
    height: 80%;
    display: flex;
    background-image: url("./assets/mem1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2rem;
    transition: background 0.3s linear;
}
.slider-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
}
.mem-description {
    font-size: 3rem;
}
.slider-controls-bullet {
    padding: 0;
    margin: 0;
    display: flex;
}
.slider-controls-bullet > li {
    display: flex;
    width: 3rem;
    height: 3rem;
    background-color: darkgray;
    margin-right: 1rem;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    list-style-type: none;
}
.slider-controls-bullet > li > span {
    width: 65%;
    height: 65%;
    background-color: darkgray;
    border-radius: 50%;
    border: 0.4rem solid black;
    transition: 0.1s linear;
}
.slider-controls-bullet > li:hover > span {
    background-color: black;
    border: 0.4rem solid black;
    transition: 0.1s linear;
}
.slider-controls-bullet > li:active > span {
    background-color: darkgray;
    border: 0.4rem solid darkgray;
    transition: 0.1s linear;
}