*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    margin: 0;
    width: 100%;
    height: 100%;
}
.overflow {
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    background-color: darkgray;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* default checkbox */
input[type='radio'] {
    display: none;
}

/* Контейнер для слайдов и слайды */
.slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slider > .slide1 {
    display: none;
    width: 100%;
    height: 100%;
    background-image: url("./assets/mem1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.slider > .slide2 {
    display: none;
    width: 100%;
    height: 100%;
    background-image: url("./assets/mem2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.slider > .slide3 {
    display: none;
    width: 100%;
    height: 100%;
    background-image: url("./assets/mem3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.slider > .slide4 {
    display: none;
    width: 100%;
    height: 100%;
    background-image: url("./assets/mem4.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* Описание слайдов */
.slider-controls-description > span {
    display: none;
}

/* лейблы для checkbox и контейнер */
.slider-controls {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.slider-controls > div {
    display: flex;
}
.slider-controls > div > label {
    width: 3rem;
    height: 3rem;
    background-color: black;
    margin-left: 1rem;
}

/* переключение */
#mem1:checked ~ .slider > .slide1,
#mem1:checked ~ .slider-controls > .slider-controls-description > .description1{
    display: block;
}

#mem2:checked ~ .slider > .slide2,
#mem2:checked ~ .slider-controls > .slider-controls-description > .description2{
    display: block;
}

#mem3:checked ~ .slider > .slide3,
#mem3:checked ~ .slider-controls > .slider-controls-description > .description3{
    display: block;
}

#mem4:checked ~ .slider > .slide4,
#mem4:checked ~ .slider-controls > .slider-controls-description > .description4{
    display: block;
}
